body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f9f9f9;
}

.container {
  max-width: 600px;          
  padding: 2rem;
  background: white;
  border-radius: 12px;     
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  text-align: center;        
}

.container ul,
.container ol {
  text-align: left;          
  margin: 1rem auto;
  display: inline-block;     
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}
